site_name: "TechBook" 
theme:
  name: material
  features:
    # - navigation.tabs
    - navigation.sections
    - toc.integrate
    # - navigation.top
    - navigation.footer
    - search.highlight
    - search.suggest
    - content.tabs.link
    - content.code.annotation
    - content.code.copy

  language: en
  palette:
    - scheme: default
      toggle:
        icon: material/toggle-switch-off-outline 
        name: Switch to dark mode
      primary: teal
      accent: purple 
    - scheme: slate 
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode    
      primary: teal
      accent: lime

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - admonition
  - pymdownx.arithmatex:
      generic: true
  - footnotes
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.mark
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg

extra:
  social:
    - icon: fontawesome/brands/github 
      link: https://github.com/SoySauceZhu/COMP201
      name: github@SoySauceZhu


nav:
# - Welcome: index.md
- Java Web: javaWeb.md
- Java Basic: javaBasic.md
- Introduction to AI: aiIntro.md
- SpringMVC: SpringMVC.md
- Architecture: architecture.md
- Notebook: notebook.md


extra_css:
  - stylesheets/custom.css

extra_javascript:
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
